
*{
    margin: 0%;
    padding: 0%;
}

  .main-header {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 3px;
    z-index: 50;
  }
  
  .groco {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  bottom: 32px;
  }
  
  .img-basket {
    height: 40px;
    position: relative;
    left: 260px;
    top: 2px;
    background-color:white;
  }
  
  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 17px;
  }
  
  span a {
    text-decoration: none;
    color: black;
    padding: 23px;
  }
  
  .login-logo {
    width: 30px;
    position: relative;
    right: 20px;
    bottom: 4px;
    margin-right: 20px;
    height: 26px;
  }
  
  .btn-contact {
    margin-top: 10px;
    margin-left: 130px;
  }
  
  .btn {
    color: white;
    background-color:#301836;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;
  
  }
  
  .btn:hover {
    color: white;
    background-color: rgb(231, 86, 86);
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;
  
  }
  
  
  
  
  
  
  
  
  
  
   
          .groco {
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 40px;
            margin-left: 200px;
        }
.cart{
    border: 2px solid black;
    height: 685px;
    width:208vh;
    margin:10px;
    padding: 10px;
    background-color: #301836;
    
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.add{
    text-align: center;
    color: white;
    margin-left: 30px;
    font-size: 40px;
    font-family: serif;
    position: relative;
    top:30px;
   
    
}
.add-cart{
   justify-content: end;
    font-size: 20px;
    margin-right: 400px;
    color: white;
    margin: 10px;
    padding: 10px;
    margin-top: 70px;
    color: black;

}
.cart-border{
    border: 1px solid white;
    height:550px;
    width:500px;
    justify-content: end;
    position: relative;
    left: 850px;
    top:35px;
    box-shadow: 0 2px 2px 2px white;
    
}
    
.img-cart{
    position: relative;
    bottom: 550px;
    left: 230px;
   
    
}
.password{
    font-size: 20px;
   
    padding: 10px;
    margin: 5px;
    color: black;
}
.total{
    font-size: 20px;
    color:white;
    position: relative;
    bottom: 200px;
    justify-content: end;
    left:930px
}
.check-btn{
    font-size: 25px;
    background-color: white;
    color: #301836;
    text-align: center;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 20px;
    position: relative;
    left: 180px;
    top:50px;-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
.check-btn:hover{
    background-color: red;
    border-radius: 50px;


}
.add-to-cart{
    font-size: 20px;
    margin-right: 400px;
    color: white;
    margin: 10px;
    padding: 10px;
    color: #301836;
}
.footer {
    display: flex;
    justify-content:space-around;
    background-color: #34013f;
    color: white;
    margin-top: 50px;
    height: 280px;
    padding: 20px;
    font-size: 25px;
}

.tagline-footer {
    font-size: 15px;
}

.logo1{
    border-radius: 50%;
    position: relative;
    top: 45px;
    box-shadow: 0 3px 4px 2px rgb(105, 103, 103);
    left:-30px;
}

.list-links {
    margin-left: 30px;
    font-size:20px ;
}

ul li a {
    text-decoration-line: none;
    color: aliceblue;
}

.address{
    font-size:20px;
    
    
}
.multi{
    margin-left: 37px;
}


