
   

.text{
    font-size: 30px;
    position: relative;
    top:30px;
    margin-left: 100px;
   border: none;
    color: white;
}
.heading{
    font-size: 50px;
    left: 80px;
    position: relative;
    top:30px;
    margin: 20px;
    bottom:70px;

}
.head{
    font-size: 20px;
    right: 400px;
    position: relative;
    top:10px;
    margin: 0;
    padding: 0;
}
.main{
    background-color: #34013f;
    color: white;
    height: 450px;
   position: relative;
   bottom: 90px;
}
.groco {
    color: rgb(13, 6, 62);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:10px;
   position: relative;
   left: 150px;
 
  
    
}
*{
    margin: 0;
    padding: 0;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 17px;
    position: relative;
    bottom: 50px;
}

span a {
    text-decoration: none;
    color: black;
    padding: 23px;


}

.main-header {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: sticky;
    width: 100%;
    padding: 3px;
}
.btn {
    color: white;
    background-color: rgb(3, 9, 58);
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;
    margin-left:1200px;
    position: relative;
    bottom: 100px;

}
.img-bg{
    height: 300px;
    width: 500px;
    border: 1px solid white;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px 20px 20px 20px;
    border: none;
   
}



.btn-contact {
    margin-top: 10px;
    margin-left: 130px;
}


.main-contain{
   
    width: 100%;
    height: 700px;
     margin: 0;
     padding: 0;
}
.head{
    color:#3f074c;
    font-size: 80px;
    text-align: center;
    position: relative;
   bottom: 75px;
    background-color: #3f074c;
    color: white;
   right: 1100px;
}
.img{
   position: relative;
   left:720px;
  bottom: 150px;
   box-shadow: 0 3px 10px 3px;
}
.text1{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
}
.chat-btn{
    font-size: 30px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    color: #34013f;
    position: relative;
    bottom: 200px;
    left:150px;
}
.chat-btn:hover{
    background-color: red;
    border-radius: 20px;
}
.main-head{

    color: #34013f;
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
    
}

.main-img{
    justify-content: space-evenly;
    display: flex;
    position: relative;
    
}
.mail{
    font-size: 20px;
    margin-top: 170px;
  

}
.images{
    border-radius: 50%;
    position: relative;
   

}
.logo{
    border-radius:50%;
    margin-left: 10px;
    position: relative;
   
    bottom: 20px;
    top:150px;
   
    box-shadow: 0 3px 4px 2px #34013f;
   }
.main-logo{
    justify-content: space-evenly;
    display: flex;
}
.map{
    margin-top: 230px;
  
}
.logo{
    margin-left: 50px;
}

