*{
    margin: 0;
    padding: 0;
}
.header-text {
    text-align: center;
    font-size: 60px;
    color: white;
}
.header-name
{
    background-color: #340138;
}

.fruits-image
{
    height: 80px;
    width: 100px;
    position: relative;
    top: 20px;
   
}
.header-main-container {
    height: 100vh;
}

.parent-container {
    /* border: 1px solid black; */
    border-radius: 20px;
    height: 400px;
    width: 320px;
    box-shadow: 0 6px 8px 1px rgb(70, 69, 69);
    margin-top: 30px;

}

.image-product {
    height: 200px;
    margin-left: 60px;
    margin-top: 20px;
}

.image-main-products {
    display: block;


}

.price-caabage {
   margin-top: 10px;
    margin-left: 100px;
    color: gray;
}

.heading {
    margin-left: 50px;
   
}

.add-to-card-btn-1 {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #340138;
    background-color: #340138;
    color: white;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top:100PX;
    
}

.main-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

.image-onion {
    height: 200px;
    margin-left: 30px;
    margin-top: 20px;
}
