/* navi-bar */

* {
    margin: 0;
    padding: 0;
    /* background-image: url('./../img/index-img/veg2.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.main-header {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 3px;
    z-index: 50;
}

.groco {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.img-basket {
    height: 40px;
    position: relative;
    left: 47px;
    top: 2px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 17px;
}

span a {
    text-decoration: none;
    color: black;
    padding: 23px;
}

.login-logo {
    width: 30px;
    position: relative;
    right: 20px;
    bottom: 4px;
    margin-right: 20px;
    height: 26px;
}

.btn-contact {
    margin-top: 10px;
    margin-left: 130px;
}

.btn {
    color: white;
    background-color: rgb(41, 56, 170);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;

}

.btn:hover {
    color: white;
    background-color: rgb(231, 86, 86);
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;

}









/* features */

.main-container-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card1 {
    height: 455px;
    width: 340px;
    color: black;
    background-color: whitesmoke;
    box-shadow: 0 4px 6px 4px rgb(134, 134, 134);
    margin-top: 60px;
    border-radius: 10px;
    margin-left: 20px;
}

.card1:hover {
    transition: 0.8s;
    transform: scale(1.1);
}

.features {
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
    background-color: #34013f;
}

.div-card {
    height: 422px;
    width: 318px;
    border: 1px solid black;
    margin: 20px;
    position: relative;
    top: -5px;
    right: 10px;
}

.img-veg {
    height: 300px;
    width: 339px;
    background-color: aliceblue;
    border-radius: 0 0 20px 20px;
}

.fresh-veg {
    text-align: center;
    font-size: 30px;
    margin-top: -5px;

}

.organic {
    position: relative;
    top: 30px;
    left: 35px;

}

#btn-read-page {
    margin-left: 550px;
    padding: 15px;
    width: 200px;
    margin-top: 80px;
    border: none;
    border-radius: 10px;
    background-color: orangered;
    color: aliceblue;
    font-size: larger;
    scroll-behavior: smooth;
}

/* footer */

.footer {
    display: flex;
    justify-content:space-around;
    background-color: #34013f;
    color: white;
    margin-top: 20px;
    height: 280px;
    padding: 20px;
    font-size: 25px;
}

.tagline-footer {
    font-size: 15px;
}

.logo {
    border-radius: 50%;
    margin-left: 8px;
    position: relative;
    top: 45px;
    box-shadow: 0 3px 4px 2px rgb(105, 103, 103);
}

.list-links {
    margin-left: 30px;
    font-size:20px ;
}

ul li a {
    text-decoration-line: none;
    color: aliceblue;
}

.address{
    font-size:20px;
    
    
}
.multi{
    margin-left: 37px;
}








/* .groco-footer{
    color: whitesmoke;
    background-color: aliceblue;
    border-radius: 100%;
    margin-top: 20px;
    height: 45px;
    padding: 20px;
    margin-left: 60px;
    margin-top: -45px;
   
  } */