          
          *{
            padding: 0;
            margin: 0;
          }
          
          img{
            background-color:green ;
          }
          .login{
            color:darkblue;
          }
          #car{
            color:black;
            font-size: 30px;
          }
          .heading{
          background-color:yellow;
        }

          h1{
            color:white;
          }
          h2{
            color:red;
          }
        .main{
            background-image: url(./../img/about-img/grocery-store.jpg);
            height: 100vh;
            width:100%;
            background-size: cover;
           
        }
        .main-contain{
            font-size: 30px;
            text-align: center;
            position: relative;
            top:104px;
            left: 530px;
            background-color: #3f074c;
            box-shadow: 0 3px 10px 6px white;
            height: 540px;
            width:450px;
            color: white;
            padding: 10px;
            margin: 10px;
            border-radius: 30px;
        }
        
        
        .btn{
            font-size: 30px;
            padding: 7px;
            margin: 50px;
            border-radius: 20px;
            background-color: white;
            border-bottom: 90px;
            position: relative;
            top:25px;
            
        }
        .btn:hover{
            background-color: red;
            border-radius: 25px;

        }

        .text{
            font-size: 25px;
            margin: 7px;
            padding: 7px;
            margin-top: 10px;
        }
       .logo{
        border-radius:50%;
        margin-left: 10px;
        position: relative;
        left:670px;
        bottom: 40px;
       
        box-shadow: 0 2px 2px 2px white;
       }
       
       .regi{
        color: white;
        border-bottom: none;
        font-size: 20px;
        position: relative;
        left: 840px;
        bottom: 170px;
        text-decoration:none;
       }

       .footer {
        display: flex;
        justify-content:space-around;
        background-color: #34013f;
        color: white;
        margin-top: 50px;
        height: 280px;
        padding: 20px;
        font-size: 25px;
    }
    
    .tagline-footer {
        font-size: 15px;
    }
    
    .logo1{
        border-radius: 50%;
        position: relative;
        top: 45px;
        box-shadow: 0 3px 4px 2px rgb(105, 103, 103);
        left:-30px;
    }
    
    .list-links {
        margin-left: 30px;
        font-size:20px ;
    }
    
    ul li a {
        text-decoration-line: none;
        color: aliceblue;
    }
    
    .address{
        font-size:20px;
        
        
    }
    .multi{
        margin-left: 37px;
    }
    